<div class="text-center mt-5 title"><h1>Wellcome to Alpha Blog</h1></div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10 mt-4"> 
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
      <%= form_with(url:'/login', local: true, :class=>"form-group row bg-info ") do |form| %>
          
          <div class="col-sm-2 col-form-label">
            <%= form.label :username %>
          </div>
          <div class="col-sm-10 ">
            <%= form.text_field :username, :class=>"form-control" %>
          </div>
          <div class="col-sm-2 col-form-label">
            <%= form.label :password %>    
          </div>      
          <div class="col-sm-10 ">
            <%= form.password_field :password_digest, :class=>"form-control" %>
          </div> 
          
          <%= submit_tag "Login",  class:" btn btn-primary mb-2 center btn-outline-white" %>      
      <% end %>
    </div>
  </div>
</div>        



