<div class="text-center mt-5 title"><h1>Articles</h1></div>
<% @articles.each do |article| %>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-10 mt-4"> 
        <div class="card border-0 mb-3 text-center shadow-lg bg-white rounded" style="max-width: 55rem;">
          <div class="card-header bg-light border-secondary"><%= article.user.username unless article.user.blank? %></div>
            <div class="card-body text-success">
              <h5 class="card-title"><%= article.title %></h5>
              <p class="card-text"><%= article.description %></p>
              <div>
                <%= link_to "View", article_path(article), :class =>"btn btn-outline-success"%>
                <%= link_to "Edit", edit_article_path(article), :class =>"btn btn-outline-info"%>
                <%= link_to "Delete", article_path(article), :class =>"btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          <div class="card-footer bg-light border-secondary">
            <small>Created about <%= time_ago_in_words(article.created_at) %> ago,
            Updated about <%= time_ago_in_words(article.updated_at) %> ago
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>


<br>

<%= link_to 'New Article', new_article_path %>
