
<div class="text-center mt-5 title"><h1>Vnh-Web Bloggers</h1></div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10 mt-4"> 
      <div id="user-index">
        <div class="grid-layout  center">
          <% @users.each do |user| %>
            <div class="user-info">  
              <div class="user-name">
                  <%= link_to user.username, user_path(user) %>
                </div>  
              
                <div class= "user-gravatar32">
                  <%= image_tag(user.image, style: "width:100%; height: 100%") if user.image.attached? %>
                </div>    
                <div class= "user-details">
                  Joined <%= time_ago_in_words(user.created_at) %> ago </br>
                  <small class="card-text"><%= pluralize(user.articles.count, "article") %> </small>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flickr_pagination">
  <%= will_paginate @user, :container => false %>
</div>
<br>

