
<div class="text-center mt-5 title"><h1>Vnh-Web Bloggers</h1></div>
    <% @users.each do |user| %>
    <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-10 mt-4"> 
        <div class="card border-0 mb-3 text-center shadow-lg bg-white rounded" >
          <div class="card-header bg-light border-secondary">
              <%= user.username %><%if user.admin%>(Admin)
            <% end %>
          </div>
            <div class="card-body text-success">
              <div class="profile-image center"><%= image_tag(user.image, style: "width:100%") if user.image.attached? %></div>
              <p class="card-text"><%= pluralize(user.articles.count, "article") %> </p>
              <div>
                <%= link_to "View Profile", user_path(user), :class =>"btn btn-outline-success"%>
                <%= link_to "Edit Profile", edit_user_path(user), :class =>"btn btn-outline-info" %>
                
                  <% if logged_in?&&current_user.id==user.id %>
                    <%= link_to "Delete Profile", user_path(user),method: :delete, :class =>"btn btn-outline-info", data:{confirm: "Are you sure you want to delete your acount and all articles" } %>
                  <% else %>
                    <% if logged_in?&&current_user.admin %>
                      <%= link_to "Delete Profile", user_path(user),method: :delete, :class =>"btn btn-outline-info", data:{confirm: "Are you sure you want to delete user and their articles" } %>
                    <% end %>
                  <% end %>
              </div>
            </div>
          <div class="card-footer bg-light border-secondary">
            <small>Joined about <%= time_ago_in_words(user.created_at) %> ago
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% end %>
    <div class="flickr_pagination">
    <%= will_paginate @user, :container => false %>
  </div>
<br>

